<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <!--<testsuite name="Feature">-->
            <!--<directory suffix="Test.php">./tests/Feature</directory>-->
        <!--</testsuite>-->

        <!--<testsuite name="Unit">-->
            <!--<directory suffix="Test.php">./tests/Unit</directory>-->
        <!--</testsuite>-->

        <testsuite name="Paiza">
            <!--<directory suffix="Test.php">./tests/Paiza</directory>-->
        </testsuite>

        <testsuite name="Salary">
            <!--<directory suffix="Test.php">./tests/Salary</directory>-->
            <file>tests/Salary/EmpTest.php</file>
            <file>tests/Salary/EmployeeRepositoryTest.php</file>
            <file>tests/Salary/TimeCardTest.php</file>
            <file>tests/Salary/SalesReceiptTest.php</file>
            <file>tests/Salary/ServiceChargeTest.php</file>
            <file>tests/Salary/ChgEmpTest.php</file>
            <file>tests/Salary/PaydayTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
